*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    font-family: arial, sans-serif;
}

/* header */
header{
    background-color:#255EE9
}

.container{
    max-width: 1200px;
    margin: 0% auto;
}

.row{
    display: flex;
    
    padding: 10px;
}

.col-25{
    width: 25%;
}





.col-50{
    width: 50%; 
}

.mt-5{
    margin-top: 5px;
}

.contenuto{
    text-align: center;
    
}


ul{
    list-style-type: none;
}

ul li{
    display: inline-block;
    text-decoration: none;
    color: white;
    margin: 0px 6px;
}

.contenuto-login{
    text-align: right;
}

.btn{
    padding: 10px 20px;
    color: black;
    border-radius: 20px;
    text-decoration: none;
}

.btn-white{
    background-color: white;
}

/* main */
.bg-jumbotron{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container-main-1{
    max-width: 800px;
    margin: 0% auto;
    padding: 15px;
    
}

.col-100 {
    width: 100%;
    height: 300px;
    text-align: center;
}

.btn-black{
    padding: 10px 20px;
    color: white;
    border-radius: 20px;
    text-decoration: none;
    background-color: rgb(33, 33, 33);
}

.text-font-size{
    font-size: 30px;
    margin-top: 20px;

}

.my-20{
    margin-top: 20px;
}

.my-40{
    margin: 40px;
}
.text-white{
    color: white;
    font-size: 20px;
}

.col-60 {
    width: 60%;
}

.col-item1{
    background-image: url(../img/item1.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.col-item3{
    background-image: url(../img/item3.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.col-item2{
    background-image: url(../img/item2.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.col-40{
    width: 40%;
    height: 300px;
}

.bg-gray{
    background-color: lightgrey;
}

.col-100-1{
    width: 100%;
    
    height: 650px;
}

img{
    width: 100%;
}

.btn-blu{
    padding: 10px 20px;
    color: white;
    border-radius: 20px;
    text-decoration: none;
    background-color: rgb(98, 92, 162);
    margin-left: 300px;
    
}




.text-size{
    font-size: 30px;
    text-align: center;
}

.text-center{
    text-align: center;
    margin-top: 15px;
    font-size: 15px;
    margin-bottom: 15px;
}

.bg-dark-gray{
    background-color: rgb(19, 19, 19);
}

.container-main-2{
    max-width: 800px;
    margin: 0% auto;
    padding: 15px;  
}
/* footer */

footer{
    background-color: rgb(44, 43, 43);
}

.top-footer{
   padding: 5px 0 40px 0;
   border-bottom: 1px solid gray;
}

.bottom-footer{
    padding-top: 25px;
}

.col-16{
    width: calc(100% / 6);
    height: 400px;
}

.col-33{
    width: calc(100% / 6 * 2);
    height: 400px;
    background-image: url(../img/ita.png);
    background-size: 30px;
    background-repeat: no-repeat;
    padding-top: 20px;
    background-position: top 30% left;
    

}

.my-10{
    margin-left: 35px;
}

.text-color{
    color: rgb(35, 35, 253);
    font-size: 35px;
    margin-bottom: 13px;
}

.container-footer{
    max-width: 800px;
    margin: 0% auto;
    padding: 15px; 
}


.bg-lightaqua{
    
    padding: 20px 0;
}
    
.box-bottom-footer{
    padding: 10px;
}

.justify-between{
    justify-content: space-between;
}

.img-ita{
    width: 10%;
}

.text-color-size{
    color: rgb(35, 35, 253);
    padding-top: 20px;
    margin: 10px;
}

.testo{
    margin: 10px; 
    color: white;
}